* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 95vw;
  margin: 0 auto;
}

.card-container-flex {
  display: flex;
  flex-direction: row;
  width: 95vw;
  justify-content: flex-start;
  margin: 0 auto;
  border: 2px solid black;
  align-items: center;
  margin-bottom: 10px;
}

.color-container-flex {
  display: flex;
  width: 95vw;
  justify-content: center;
  border: 2px solid black;
  align-items: center;
  margin-bottom: 10px;
  height: 75px;
  color: white;
  text-align: center;
}

.creditCard-container-flex {
  display: flex;
  flex-direction: column;
  width: 95vw;
  justify-content: space-evenly;
  border: 2px solid black;
  align-items: flex-start;
  margin-bottom: 10px;
  height: 200px;
  width: 21vw;
  text-align: center;
  padding: 30px 30px;
  border: none;
  border-radius: 10px;

}

.ratingStars {
  font-size: 50px;
}